@using Demand.Domain.ViewModels
@{
    ViewData["Title"] = "Home Page";
}
@model RequestInfoOfferViewModel

<div class="text-center">
    <h1 class="display-4">@Model.Unit</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>




