@using Demand.Domain.ViewModels
@model LoginViewModel

<!DOCTYPE html>
<html>
<head>
    <link href="~/css/login.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>DEM MUSEUMS</title>
    <link rel="stylesheet" type="text/css" href="slide navbar style.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <link href="~/css/common.css" rel="stylesheet" />

</head>
<body>
    <div class="logo">
        <img id="logo" src="~/images/dem_logo.png" alt="Logo">
    </div>
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">

        @* <div class="signup">
            <form>
                <label for="chk" aria-hidden="true">Sign up</label>
                <input type="text" name="txt" placeholder="User name" required="">
                <input type="email" name="email" placeholder="Email" required="">
                <input type="password" name="pswd" placeholder="Password" required="">
                <button>Sign up</button>
            </form>
        </div> *@

        <div class="login">
            <form id="loginForm">
                <label for="chk" aria-hidden="true">Giriş</label>
                <input type="email" id="userEmail" placeholder="E-posta" required="">
                <input type="password" id="password" placeholder="Şifre" required="">
                <button type="button" onclick="submitLoginForm()">Giriş</button>
            </form>
        </div>
    </div>
</body>
</html>

<script>
    $(document).ready(function () {
        $("#loginForm input").keypress(function (e) {
            if (e.which === 13) { 
                e.preventDefault();
                submitLoginForm();
            }
        });
    });
    function submitLoginForm() {
        var userEmail = document.getElementById('userEmail').value;
        var password = document.getElementById('password').value;

        var data = {
            UserEmail: userEmail,
            Password: password,
            ReturnUrl: "@(ViewBag.ReturnUrl)"
        };

        $.ajax({
            type: 'POST',
            url: 'api/Authorizations/Login',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (result) {
                if (result.success) {
                    window.location.href = result.returnUrl
                } else {
                    showErrorPopup(result.message);
                }
            },
            error: function (error) {
                console.error(error.responseJSON.message);
            }
        });
    }

    function showErrorPopup(message) {
        alert('Hata: ' + message);
    }
</script>